<!DOCTYPE html 5>
<html lang="ru">

<%- include('./partials/HEAD.ejs')%>

    <body>
        <%- include('./partials/nav.ejs')%>

            <marquee behavior="scroll" direction="right">КОНЕЦ КОНЕЦ КОНЕЦ КОНЕЦ КОНЕЦ КОНЕЦ КОНЕЦ КОНЕЦ КОНЕЦ КОНЕЦ
                КОНЕЦ
                КОНЕЦ
                КОНЕЦ КОНЕЦ</marquee>

    </body>

</html>