<!DOCTYPE html>
<html lang="en">

<%- include('./partials/HEAD.ejs')%>

    <style>
        .title {
            text-align: center;
            font-size: 64px;
            font-weight: bold;
            color: brown;
        }
    </style>

    <body>
        <h1 class="title">Ты что-то не туда зашел пользователь, а ну давайка отсюдава <span><a href="/">на
                    главную</a></span></h1>

    </body>

</html>