<!DOCTYPE html 5>
<html lang="ru">

<%- include('./partials/HEAD.ejs')%>

    <body>

        <%- include('./partials/nav.ejs')%>
            <h1 class="title">Я родился, встречай</h1>
            <h2>ДА да это все я сделал</h2>
            <h2>РОБИТ</h2>
            <marquee behavior="scroll" direction="right">
                ХЕХЕХХЕХЕХЕХЕХЕХЕХХЕХЕХЕХЕХЕХЕХХЕХЕХЕХЕХЕХЕХХЕХЕХЕХЕХЕХЕХХЕХЕХЕХЕ
            </marquee>




    </body>

</html>